*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    background-image: url(img123.jpg);
    -webkit-background-size: cover;
    background-position: center;
    background-size: cover cover;
    position: relative;
    height: 650px
}
.logo{
    float: right;
    margin-right: 650px;
    color: coral;
    font-size: 36px;
    line-height: 100px;
    font-weight: bold;
}
ul{
    margin-left: 20px;
}
li{
    display: inline-block;
    margin-left: 20px;
    line-height: 100px;
}
a{
    color: dodgerblue;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid gold;
    padding: 2px ;
}
.banner-text{
    text-align: center;
    margin-top: 150px;
}
h1{
    font-size: 90px;
    color: greenyellow;
    font-weight: bold;
}
p{
    font-size: 26px;
    color: gold;
    }
.row{
    margin: 40px;

}
.text-col{
    float: left;
    margin-left: 30px;
}
.img{
    float: right;
    margin-right: 10px;
}
.img2{
    float: right;
    margin-right: 10px;
    padding-top: 25px;
    pa
}